DATABASE_URL=postgresql://neondb_owner:npg_RXuP2GIgq3JV@ep-mute-smoke-am9p5v3x-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d
PORT=5000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
